.header {
  background-color: $orange;
  padding: $gutter;
}
.title {
  display: flex;
  justify-content: center;
  font-size: $fontsize * 3.75;
  font-family: $headerfont;
}
.sidur {
  display: flex;
  margin-left: 400px;
  font-size: $fontsize;
  font-family: $mainfont;
  font-weight: bold;
}
.sida {
  padding: $gutter;
  &__karfa {
    align-self: flex-end;
    font-weight: normal;
  }
}
a {
  color: #000;
  text-decoration: none;
}
