.main {
  margin: $gutter;
}
.cart-vara {
  margin: $gutter;
  display: flex;
  &__img {
    width: 50%;
  }
  &__nanar > *{
    margin: $gutter;
  }
  &__button {
    border-radius: 5px;
    width: auto;
    height: 40px;
  }
}
.uppl {
  display: flex;
  &__send {
    width: 50%;
    margin-right: $gutter/2;
  }
  &__pay {
    width: 50%;
    margin-left: $gutter/2;
  }
}
.form {
  display: flex;
  justify-content: space-between;
  margin-top: $gutter;
}
.button__kaupa {
  background-color: $blue;
  margin-left: 33.3%;
  width: 33.3%;
  height: 40px;
  margin-bottom: $gutter*2;
  border: none;
  border-radius: 7px;
}
