$maxwidth: 1200px;
$gutter: 20px;
$mainfont: "Open Sans", helvetica, arial, sans-serif;
$headerfont: "Oswald", verdana, serif;
$fontsize: 16px;
$black: #000;
// $yellow: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;
$white: #fff;
$transition: 0.2s;
