

.button {
  background-color: $blue;
  border-radius: 5px;
  color: black;
  padding: 10px 150px;
  text-align: center;
  font-size: $fontsize;
  margin-top: $fontsize*2;
  margin-bottom: $fontsize*2;
  transition: $transition;
  transition-timing-function: ease-in-out;
}

.button:hover{
  color: white;
  background-color: $orange;

}
