.course{
  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: $gutter;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;

  }

  &__text {
    margin-bottom: 20px;
  }

  img{
    width: 100%
  }

}


@media (max-width:700px) {
  .course__row{
    flex-direction: column;
  }
  .course__col{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

// skilgreinir button fyrir alla síðuna
.button {
  background-color: $blue;
  border-radius: 5px;
  color: black;
  padding: 10px 150px;
  text-align: center;
  font-size: $fontsize;
  margin-top: $fontsize*2;
  margin-bottom: $fontsize*2;
  transition: $transition;
  transition-timing-function: ease-in-out;
}

.button:hover{
  color: white;
  background-color: $orange;
}

.uppl {
  display: flex;
  flex-direction: column;
}
.forms {
  display: flex;
  justify-content: space-between;
  margin-top: $gutter;
}
.form > * {
  display: flex;
  justify-content: space-between;

}

.button__kaupa {
  background-color: $blue;
  margin-left: 33.3%;
  width: 33.3%;
  height: 40px;
  margin-bottom: $gutter*2;
  border: none;
  border-radius: 7px;
}
