.vorur {
  display: flex;
  flex-wrap: wrap;
}
.products-vara {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: $gutter/2;
  @media (min-width: 500px) {
    width: 50%;
  }
  @media (min-width: 800px) {
    width: 33.3%;
    height: auto;
  }
  &__img {
    padding: $gutter;
    object-fit: contain;
    width: 100%;
  }
  &__verd {
    flex-grow: 1;
  }
  &__takkar {
    display: flex;
    justify-content: space-between;
    & > * {
      border-radius: 5px;
      height: $gutter*2;
    }
  }
  &__fjoldi {
    width: 30%;
  }
}
