@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$maxwidth: 1200px;
$gutter: 20px;
$mainfont: "Open Sans", helvetica, arial, sans-serif;
$headerfont: "Oswald", verdana, serif;
$fontsize: 16px;
$black: #000;
// $yellow: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;
$white: #fff;
$transition: 0.2s;

html { /* stylelint-disable-line */
  display: flex;
  box-sizing: border-box;
  overflow-x: hidden;
  justify-content: center;
  font-family: $mainfont;
  font-size: $fontsize;
}

// fleiri grunn stillingar

.heading1 {
  font-family: $headerfont;
  font-size: $fontsize * 3.75; // 60px
}

.heading2 {
  font-family: $headerfont;
  font-size: $fontsize * 3; // 48px
}

.heading3 {
  margin-bottom: $gutter;
  font-family: $headerfont;
  font-size: $fontsize * 2.25; //36px
  color: $black;
}

.heading4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $headerfont;
  font-size: $fontsize *1.5; //24 px
  color: $black;
}


.main {
  max-width: $maxwidth;
}

// sækja allar sass skrár
@import "scss/index.scss";
@import "scss/cart.scss";
@import "scss/course.scss";
@import "scss/products.scss";
@import "scss/staff.scss";

// HEADER
.header {
  position: relative;
  display: block;
  padding: 0px 2000px;
  margin: 0px -2000px; // til ad appelsinugulur fylli alla breidd
  background-color: $orange;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__links {
    margin-left: 25%;
    font-family: $mainfont;
    font-size: $fontsize;
  }

  &__link {
    display: inline-block;
    padding: $gutter;

    & > a {
      font-weight: bold;
      color: $black;
      text-decoration: none;

      &:hover {
        color: $white;
        transition: $transition;
        transition-timing-function: ease-in-out;
      }
    }
  }

  &__open {
    text-decoration: underline;
  }

  &__cart > a {
    font-weight: normal;
    color: $black;
    text-decoration: none;
  }
}

// FOOTER
.footer {
  padding: 0px 2000px;
  margin: 0px -2000px; // til ad blar fylli alla breidd
  font-size: $fontsize*7/8; //14px
  background-color: $blue;
  background-size: cover;

  &__link > a {
    line-height: $fontsize*2;
    text-decoration: none;
    transition: $transition;
    transition-timing-function: ease-in-out;
    color: $white;
  }

  &__link:hover > a {
    color: $black;
  }

  &__klasar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $gutter;
  }

  &__klasi {
    min-width: $maxwidth/5;
    max-width: $maxwidth/2;
  }

  &__copyright {
    padding-bottom: $gutter;
    font-size: $fontsize*3/4;
    text-align: center;
  }
}
