@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$maxwidth: 1200px;
$gutter: 20px;
$mainfont: "Open Sans", helvetica, arial, sans-serif;
$headerfont: "Oswald", verdana, serif;
$fontsize: 16px;
$black: #000;
$yellow: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;
$white: #fff;
$transition: 0.2s;

html { /* stylelint-disable-line */
  max-width: $maxwidth;
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
}

// TODO sækja allar sass skrár
@import "scss/index.scss";
@import "scss/cart.scss";
@import "scss/course.scss";
@import "scss/products.scss";
@import "scss/staff.scss";
