@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$maxwidth: 1200px;
$gutter: 20px;
$mainfont: "Open Sans", helvetica, arial, sans-serif;
$headerfont: "Oswald", verdana, serif;
$fontsize: 16px;
$black: #000;
$yellow: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;
$white: #fff;
$transition: 0.2s;

html { /* stylelint-disable-line */
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  font-family: $mainfont;
  font-size: $fontsize;
}

// fleiri grunn stillingar

h1 {
  font-family: $headerfont;
  font-size: $fontsize * 3.75; // 60px
}

h2 {
  font-family: $headerfont;
  font-size: $fontsize * 3; // 48px
}

h3 {
  font-family: $headerfont;
  font-size: $fontsize * 2.25; //36px
  margin-bottom: $gutter;
  color: $black;
}

h4 {
  font-family: $headerfont;
  font-size: $fontsize *1.5; //24 px
  color: $black;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.main {
  max-width: $maxwidth;
}

// sækja allar sass skrár
@import "scss/index.scss";
@import "scss/cart.scss";
@import "scss/course.scss";
@import "scss/products.scss";
@import "scss/staff.scss";


// HEADER
.header {
  background-color: $orange;
  position: relative;
  display: block;
  padding: 0px 2000px;
  margin: 0px -2000px; // til ad appelsinugulur fylli alla breidd

  &__title {
    display: flex;
    justify-content: center;
  }

  &__links {
    margin-left: 25%;
    font-family: $mainfont;
    font-size: $fontsize;
  }

  &__link {
    display: inline-block;
    padding: $gutter;
    & > a {
      font-weight: bold;
      color: $black;
      text-decoration: none;
      &:hover {
        color: $white;
        transition: $transition;
        transition-timing-function: ease-in-out;
      }
    }
  }
  &__cart  {
    & > a {
      color: $black;
      text-decoration: none;
      font-weight: normal;
    }
  }
}


// FOOTER
.footer {
  font-size: $fontsize *0,875; //14px
  background-color: $blue;
  background-size: cover;
  margin: 0px -2000px; // til ad blar fylli alla breidd
  padding: 0px 2000px;

  &__link > a{
    color: $white;
    text-decoration: none;
    line-height: $fontsize*2;
    transition: $transition;
    transition-timing-function: ease-in-out;
  }
  &__link:hover >a{
    color: $black;
  }

  &__klasar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $gutter;
  }
  &__klasi {
    min-width: $maxwidth/5;
    max-width: $maxwidth/2;
  }

  &__copyright {
    text-align: center;
    font-size: $fontsize*3/4;
    padding-bottom: $gutter;
  }
}
